---
import Layout from '../layouts/Layout.astro'
import Formulario from '../components/Formulario'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Ejercicios React</h1>
    <!-- <Example client:load /> -->
    <Formulario client:load />
  </main>
</Layout>

<style>
  main {
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
